<ion-view title="ShipmentStatus">
    <div class="bar bar-header bar-calm-900">
        <div class="buttons buttons-left header-item">
            <span class="left-buttons">
                <button class="button button-icon button-clear ion-navicon" ng-click="returnMain()"></button>
            </span>
        </div>
        <div class="title">
            Shipment Tracking
        </div>
    </div>
    <ion-content class="has-header">
        <ion-list class="animate-blinds">
            <div class="card">
                <div class="item">
                    <label class="item-input pull-left" style="width:80%;">
                        <span class="input-label">Container No</span>
                        <input type="text" style="border-bottom:1px solid #808080;" ng-model="Tracking.ContainerNo">
                    </label>
                    <button class="button button-clear icon ion-android-search" ng-click="GoToDetail('ContainerNo')"></button>
                </div>
            </div>
            <div class="card">
                <div class="item">
                    <label class="item-input pull-left" style="width:80%;">
                        <span class="input-label">Job No</span>
                        <input type="text" style="border-bottom:1px solid #808080;" ng-model="Tracking.JobNo">
                    </label>
                    <button class="button button-clear icon ion-android-search" ng-click="GoToDetail('JobNo')"></button>
                </div>
            </div>
            <div class="card">
                <div class="item">
                    <label class="item-input pull-left" style="width:80%;">
                        <span class="input-label">BL No</span>
                        <input type="text" style="border-bottom:1px solid #808080;" ng-model="Tracking.BLNo">
                    </label>
                    <button class="button button-clear icon ion-android-search" ng-click="GoToDetail('BLNo')"></button>
                </div>
            </div>
            <div class="card">
                <div class="item">
                    <label class="item-input pull-left" style="width:80%;">
                        <span class="input-label">AWB No</span>
                        <input type="text" style="border-bottom:1px solid #808080;" ng-model="Tracking.AWBNo">
                    </label>
                    <button class="button button-clear icon ion-android-search" ng-click="GoToDetail('AWBNo')"></button>
                </div>
            </div>
            <div class="card">
                <div class="item">
                    <label class="item-input pull-left" style="width:80%;">
                        <span class="input-label">Order No</span>
                        <input type="text" style="border-bottom:1px solid #808080;" ng-model="Tracking.OrderNo">
                    </label>
                    <button class="button button-clear icon ion-android-search" ng-click="GoToDetail('OrderNo')"></button>
                </div>
            </div>
            <div class="card">
                <div class="item">
                    <label class="item-input pull-left" style="width:80%;">
                        <span class="input-label">Reference No</span>
                        <input type="text" style="border-bottom:1px solid #808080;" ng-model="Tracking.ReferenceNo">
                    </label>
                    <button class="button button-clear icon ion-android-search" ng-click="GoToDetail('ReferenceNo')"></button>
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>