<ion-view title="VesselScheduleDetail">
    <div class="bar bar-header bar-calm-900">
        <div class="buttons buttons-left header-item">
            <span class="left-buttons">
                <button class="button button-icon button-clear ion-navicon" ng-click="returnList()"></button>
            </span>
        </div>
        <div class="title">Vessel Schedule - <span ng-bind="Rcsv1Detail.POD"></span></div>
    </div>
	<ion-content class="has-header">
        <div class="card animate-ripple" tabindex="-1" ng-repeat="Rcsv1 in Rcsv1s">
            <div class="list">
                <ion-item nav-clear menu-close class="item ink">
                    <h2>Vessel Voyage&nbsp;:&nbsp;<span ng-bind="Rcsv1.VesselVoyage"></span></h2>
                    <p>Carrier&nbsp;:&nbsp;<span ng-bind="Rcsv1.Carrier"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Transit Time&nbsp;:&nbsp;<span ng-bind="Rcsv1.TransitTime"></span></p>
                    <p>Departure Date&nbsp;:&nbsp;<span ng-bind="Rcsv1.DepartureDate"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Arrival Date&nbsp;:&nbsp;<span ng-bind="Rcsv1.ArrivalDate"></span></p>
                </ion-item>
            </div>
        </div>
	</ion-content>
</ion-view>