
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome、firefox */
  url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-dislike:before { content: "\e613"; }
.icon-phone:before { content: "\e60c"; }
.icon-qq:before { content: "\e614"; }
.icon-like:before { content: "\e615"; }
.icon-phone1:before { content: "\e60d"; }
.icon-facebook:before { content: "\e616"; }
.icon-icon:before { content: "\e600"; }
.icon-twitter:before { content: "\e617"; }
.icon-title:before { content: "\e618"; }
.icon-ico12:before { content: "\e619"; }
.icon-website:before { content: "\e61a"; }
.icon-download:before { content: "\e638"; }
.icon-amount:before { content: "\e601"; }
.icon-msn:before { content: "\e61b"; }
.icon-date:before { content: "\e602"; }
.icon-iconname:before { content: "\e603"; }
.icon-qq1:before { content: "\e61c"; }
.icon-phone2:before { content: "\e60e"; }
.icon-like1:before { content: "\e61d"; }
.icon-address:before { content: "\e61e"; }
.icon-appicon06:before { content: "\e61f"; }
.icon-email:before { content: "\e620"; }
.icon-twitter1:before { content: "\e621"; }
.icon-phone3:before { content: "\e60f"; }
.icon-pdf:before { content: "\e639"; }
.icon-email1:before { content: "\e622"; }
.icon-iconbirthdayzhuanhuan:before { content: "\e623"; }
.icon-facebook1:before { content: "\e624"; }
.icon-fax:before { content: "\e610"; }
.icon-iconmemudislike:before { content: "\e625"; }
.icon-contact:before { content: "\e60a"; }
.icon-contact1:before { content: "\e60b"; }
.icon-address1:before { content: "\e626"; }
.icon-download1:before { content: "\e63a"; }
.icon-facebook2:before { content: "\e627"; }
.icon-address2:before { content: "\e628"; }
.icon-dislike1:before { content: "\e629"; }
.icon-accountcity:before { content: "\e62a"; }
.icon-qq2:before { content: "\e62b"; }
.icon-title1:before { content: "\e62c"; }
.icon-iconfonttreedate:before { content: "\e604"; }
.icon-like2:before { content: "\e62d"; }
.icon-skype:before { content: "\e62e"; }
.icon-phone4:before { content: "\e611"; }
.icon-birthday:before { content: "\e62f"; }
.icon-address3:before { content: "\e630"; }
.icon-name:before { content: "\e605"; }
.icon-twitter2:before { content: "\e631"; }
.icon-iconname1:before { content: "\e606"; }
.icon-name1:before { content: "\e607"; }
.icon-name2:before { content: "\e608"; }
.icon-fidislike:before { content: "\e632"; }
.icon-pdf1:before { content: "\e63b"; }
.icon-jisuanqicount:before { content: "\e609"; }
.icon-fax1:before { content: "\e612"; }
.icon-like3:before { content: "\e633"; }
.icon-skype1:before { content: "\e634"; }
.icon-birthdaycake:before { content: "\e635"; }
.icon-fujianpdf:before { content: "\e63c"; }
.icon-address4:before { content: "\e636"; }
.icon-website1:before { content: "\e637"; }
