<ion-view title="Detail-Edit">
    <div class="bar bar-header bar-calm-900">
        <div class="buttons buttons-left header-item">
            <span class="left-buttons">
                <button class="button button-icon button-clear ion-navicon" ng-click="returnDetail()"></button>
            </span>
        </div>
        <div class="h1 title">Customer Detail - Edit</div>
    </div>
    <ion-pane class="has-header">
        <div style="margin-top:14%;">
            <div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">First Name</span>
                    <input type="text" placeholder="John">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Last Name</span>
                    <input type="text" placeholder="Suhr">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Email</span>
                    <input type="text" placeholder="john@suhr.com">
                </label>
            </div>
        </div>
    </ion-pane>
    <ion-footer-bar class="button-bar" style="height:7%;">
        <button class="button button-flat button-positive ink" style="max-width:49%;" ng-click="returnDetail()">Save</button>
        <button class="button button-positive ink" style="position:relative;max-width:49%;top:0;bottom:0;right:-5px;" ng-click="returnDetail()">Cancel</button>
    </ion-footer-bar>
</ion-view>