<ion-view title="Login">
	<ion-side-menus enable-menu-with-back-views="true">
		<ion-side-menu-content style="background: url(img/mountains.jpg) center; background-size: cover;" class="ionic login">
            <div class="hero no-header flat">
                <div class="content">
                    <div class="app-icon">
                        <img src="./img/login.png" width="220px;" height="220px;">
                    </div>
                </div>
            </div>
            <div class="list ripple">
                <ion-md-input id="iUserName" placeholder="Username" highlight-color="balanced" type="text" ng-model="logininfo.strUserName" required>
                </ion-md-input>
                <ion-md-input id="iPassword" placeholder="Password" highlight-color="energized" type="password" ng-model="logininfo.strPassword">
                </ion-md-input>
            </div>
            <div class="padding">
                <button class="button button-full button-positive ink" ng-click="login()">SIGN IN</button>
            </div>
		</ion-side-menu-content>
		<ion-side-menu side="left">
			<ion-header-bar align-title="center" class="bar-positive">
				<h1 class="title">Settings</h1>
				<div class="buttons pull-right" nav-clear menu-close>  
					<button class="button button-icon icon ion-android-options"></button>  
				</div> 
			</ion-header-bar>
			<ion-content class="has-header">  
				<ion-list>  
					<ion-item nav-clear ng-click="setConf()">  
						<i class="icon ion-android-settings"></i> Server-Side Configuration
					</ion-item>
                    <ion-item nav-clear ng-click="checkUpdate()">
                        <i class="icon ion-arrow-up-c"></i> Check New Version
                    </ion-item>  
				</ion-list>
                <div class="item item-divider">
                    Functions
                </div>
                <ul class="list">
                    <li class="item item-toggle">
                        Toggle
                        <label class="toggle toggle-assertive">
                            <input type="checkbox">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </li>
                </ul>
                <ul class="list">
                    <li class="item item-checkbox">
                        <label class="checkbox">
                            <input type="checkbox">
                        </label>
                        Checkbox 
                    </li>
                </ul>
                <div class="list">
                    <div class="item range range-positive">
                        <i class="icon ion-ios-sunny-outline"></i>
                        <input type="range" name="volume" min="0" max="100" value="33">
                        <i class="icon ion-ios-sunny"></i>
                    </div>
                </div>
			</ion-content> 
		</ion-side-menu>
	</ion-side-menus>
</ion-view>