<ion-view title="Main">
    <ion-header-bar class="bar-positive" align-title="center">
        <div class="h1 title">SysFreight Mobile</div>
    </ion-header-bar>
    <ion-pane>
        <ion-tabs class="tabs-striped tabs-top tabs-background-positive tabs-color-light tabs-icon-left">
            <ion-tab title="CRM" icon-on="ion-ios-people" icon-off="ion-ios-people-outline">
                <div class="container">
                    <div style="margin-top:8.0em;">
                        <div class="row row-center">
                            <div class="col col-50" style="text-align:center;">
                                <a style="width:70%;height:100%;"><img src="./img/free-60-icons-52.png" width="30%" alt="" class="img-circle"></a>
                                <h5>Sales</h5>
                            </div>
                            <div class="col" style="text-align:center;">
                                <a style="width:70%;height:100%;"><img src="./img/free-60-icons-53.png" width="30%" alt="" class="img-circle"></a>
                                <h5>Cost</h5>
                            </div>
                        </div>
                        <div class="row row-center">
                            <div class="col col-50" style="text-align:center;">
                                <a style="width:70%;height:100%;"><img src="./img/free-60-icons-28.png" width="30%" alt="" class="img-circle"></a>
                                <h5>Salesman Activity</h5>
                            </div>
                            <div class="col" style="text-align:center;">
                                <a style="width:70%;height:100%;" ng-click="GoToRcbp()"><img src="./img/free-60-icons-50.png" width="30%" alt="" class="img-circle"></a>
                                <h5>Contacts</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-tab>
            <ion-tab title="Productivity" icon-on="ion-ios-speedometer" icon-off="ion-ios-speedometer-outline">
                <div class="container">
                    <div style="margin-top:8.0em;">
                        <div class="row row-center">
                            <div class="col" style="text-align:center;">
                                <a style="width:70%;height:100%;"><img src="./img/free-60-icons-58.png" width="30%" alt="" class="img-circle"></a>
                                <h5>Payment Approval</h5>
                            </div>
                            <div class="col" style="text-align:center;">
                                <a style="width:70%;height:100%;"><img src="./img/free-60-icons-16.png" width="30%" alt="" class="img-circle"></a>
                                <h5>Reminder</h5>
                            </div>
                        </div>
                        <div class="row row-center">
                            <div class="col" style="text-align:center;">
                                <a style="width:70%;height:100%;"><img src="./img/free-60-icons-59.png" width="30%" alt="" class="img-circle"></a>
                                <h5>Memo</h5>
                            </div>
                            <div class="col" style="text-align:center;">
                                <a style="width:70%;height:100%;"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-tab>
            <ion-tab title="Tracking" icon-on="ion-ios-navigate" icon-off="ion-ios-navigate-outline">
                <div class="container">
                    <div style="margin-top:8.0em;">
                        <div class="row row-center">
                            <div class="col" style="text-align:center;">
                                <a style="width:70%;height:100%;"><img src="./img/free-60-icons-18.png" width="30%" alt="" class="img-circle"></a>
                                <h5>Vessel Schedule</h5>
                            </div>
                            <div class="col" style="text-align:center;">
                                <a style="width:70%;height:100%;"><img src="./img/free-60-icons-13.png" width="30%" alt="" class="img-circle"></a>
                                <h5>Shipment Status</h5>
                            </div>
                        </div>
                        <div class="row row-center">
                            <div class="col" style="text-align:center;">
                                <a style="width:70%;height:100%;"><img src="./img/free-60-icons-51.png" width="30%" alt="" class="img-circle"></a>
                                <h5>Invoice /BL/AWb /SOA Copy</h5>
                            </div>
                            <div class="col" style="text-align:center;">
                                <a style="width:70%;height:100%;"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-tab>
        </ion-tabs>
        <div class="bar bar-footer" style="height:10%; padding:0px; background-color:royalblue;">
            <img src="./img/ad.png" alt="" style="margin:0 auto;">
        </div>
    </ion-pane>
</ion-view>